.card-drinks {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 5% auto;
}

.card-drinks h3 {
  display: flex;
  font-family: fantasy;
  font-size: 100%;
  justify-content: center;
}

.card-drinks a {
  color: #a61103;
  text-decoration: none;
}

.drink-page {
  height: 90%;
  overflow: auto;
}
